@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400);

body {
  padding-top: 4.5rem;      /* Reserve space for the fixed-top navbar. */
  font-family: 'Ubuntu', sans-serif;
  word-spacing: 0.01rem;    /* Make words a bit more sparse. */
  letter-spacing: 0.01rem;  /* Make letters a bit more sparse. */
}

p {
  margin-bottom: 1.2rem;    /* Make paragraphs a bit more spacious. */
}

b {
  font-weight: 400;         /* Bold has the same weight as normal text. */
}

a {
  color: blue;
  text-decoration-style: dashed;
  text-decoration-line: underline;
}
a:hover {
  color: blue;
  text-decoration-style: solid;
  text-decoration-line: underline;
}

::selection {
  background-color: lightgray;
}

body > nav#m-top-nav {
  padding: 0;
}
body > nav#m-top-nav a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  padding-left: 1.2rem;
  font-weight: 200;
}
body > nav#m-top-nav a:hover {
  text-decoration-style: dashed;
  text-decoration-line: underline;
}
body > nav#m-top-nav a.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
}
body > nav#m-top-nav a.navbar-brand:hover {
  text-decoration: none;
}
body > nav#m-top-nav .container {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

body > main {
  margin-top: 2rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 200;
}

body > main article > header > h1 {
  text-align: center;
  font-size: 1.8rem;
  margin: 0.625rem 1.25rem 1.25rem 1.25rem;
  line-height: 1.6;
}

body > main article > header > nav > ol.breadcrumb {  /* Breadcrumb */
  padding: 0;
  background-color: white;
}

body > footer {             /* Site footer. */
  margin-top: 4rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
}